
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex align-items-center mb-4">
              <h3 class="mb-1 font-weight-bold">Show Member</h3>
            </div>
          </div>
        </div>
        <hr class="horizontal mb-3 dark" />
        <div class="card">
          <!-- Card image -->
          <div class="card-header p-0 mx-auto mt-3 position-relative z-index-1">
            <canvas id="qrCodeCanvas" class="border-radius-lg w-50 rounded d-block mx-auto" style="position: relative"></canvas>

            <!-- List group -->
            <ul class="list-group list-group-flush mt-2">
              <li class="list-group-item">Nama : <%= member.nama %></li> <!-- Menampilkan nama anggota -->
              <li class="list-group-item">Alamat : <%= member.alamat %></li> <!-- Menampilkan alamat anggota -->
              <li class="list-group-item">No Telp : <%= member.no_telp %></li> <!-- Menampilkan nomor telepon anggota -->
              <li class="list-group-item">Masa Berlaku : <%= member.masa_berlaku %></li> <!-- Menampilkan masa berlaku anggota -->
            </ul>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <h3 h3 class="card-title mb-3" style="text-align: center">
                Welcome <%= member.nama %>
            </h3>
          </div>
          <div>
            <button id="sendButton" class="btn btn-primary offset-md-10">Send QR Code</button>
          </div>
          
        </div>

        <script>
          window.onload = function() {
        var memberId = "<%= member.member_id %>"; // Ambil ID anggota dari server Anda

    // Lakukan fetch untuk mendapatkan data gambar QR dari server
    fetch(`/generate/${memberId}`)
        .then(response => response.blob()) // Ambil respon sebagai blob (binary data)
        .then(blob => {
            // Ubah blob menjadi URL objek
            var url = `../qrcodes/member_${memberId}.png`;

            // Dapatkan elemen canvas berdasarkan id
            var canvas = document.getElementById("qrCodeCanvas");
            var ctx = canvas.getContext("2d");

            // Buat objek Image untuk menggambar gambar QR
            var img = new Image();
            img.onload = function() {
                // Atur ukuran canvas sesuai dengan ukuran gambar QR
                canvas.width = img.width;
                canvas.height = img.height;

                // Gambar gambar QR di canvas
                ctx.drawImage(img, 0, 0);
            };
            img.src = url;
        })
        .catch(error => {
            console.error("Error fetching QR code:", error);
        });

        var sendButton = document.getElementById("sendButton");

    // Menambahkan event listener untuk menangani klik pada tombol "Send"
    sendButton.addEventListener("click", function() {
        var phoneNumber = "<%= member.no_telp %>"; // Mengambil nomor telepon anggota dari server

        // Format pesan yang akan dikirimkan melalui WhatsApp
        var message = `Halo, silahkan download qrcode anda di http://localhost:3000/wallet/${memberId}`;
        // Membuat URL kustom WhatsApp dengan nomor telepon dan pesan yang ditentukan
        var whatsappUrl = "https://api.whatsapp.com/send?phone=" + "62" + phoneNumber + "&text=" + encodeURIComponent(message);

        // Membuka URL kustom WhatsApp dalam jendela baru
        window.open(whatsappUrl, "_blank");
    });
};
        </script>

